body{
    font-family: sans-serif;
    background-color: #0d0d0d;
    color: white;
}
nav a{
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border-color 0.1s ease;
}
nav a:hover{
    border: 2px solid white;
}
h1{
    text-align: center;
}
table{
    border-style: solid;
}